{% extends 'registration/base.html' %}
{% block content %}

{% if validlink %}

<div class="card" >
    <div class="card-panel" >
<p>Por favor, introduzca su contraseña nueva.</p>

    <form method="post">{% csrf_token %}
    <fieldset class="module aligned">
        <div class="form-row field-password1">
            <p style="color: red" >{{ form.new_password1.errors }}</p>
            <label for="id_new_password1">Nueva Contraseña</label>
            {{ form.new_password1 }}
        </div>
        <div class="form-row field-password2">
            <p style="color: red">{{ form.new_password2.errors }}</p>
            <label for="id_new_password2">Confirmar Contraseña</label>
            {{ form.new_password2 }}
        </div>
        <input type="submit" class="btn borde" value="Cambiar contraseña">
    </fieldset>
    </form>
    </div>
</div>
{% else %}
<div class="card" >
    <div class="card-panel" >
    <p style="color: red">La contraseña ya se uso, por favor trate con otra.</p>
    </div>
</div>
{% endif %}

{% endblock %}