{% extends 'registration/base.html' %}
{% block content %}
{% load static %}
<div class="card" >

<div class="card-panel" >

        <div class="row" >
            <div class="col s12 center" >
                <img class="responsive-img" src="{% static '/core/assets/'  %}brain.png" width="100px" height="100px" alt="Xerebro" />
            </div>
       </div>
    <p>Si olvidaste la contraseña, ingresa tu correo y sigue las instrucciones</p>
        <div class="row"  >
        <form method="post" class="col s12" >{% csrf_token %}
        <fieldset class="module aligned">
            <div class="field-email">
                {{ form.email.errors }}
                <label for="id_email">Correo Electronico</label>
                {{ form.email }}
            </div>
            <input type="submit" class="btn   col s12 borde" value="Confirmar">
        </fieldset>
        </form>
        </div>
    </div>
</div>
{% endblock %}