{% extends 'analisis/base.html' %}
{% block title %}Cambiar Contraseña{% endblock %}
{% block content %}
{% include 'analisis/nav.html'  %}


<div class="card" >
<div class="card-panel" >
<form method="post">{% csrf_token %}
<div>
{% if form.errors %}
    <p class="errornote">
    {% if form.errors.items|length == 1 %}Corrige el error{% else %}Errores{% endif %}
    </p>
{% endif %}


<p>Por favor, introduzca su antigua contraseña, y despues introduzca dos veces la nueva contraseña</p>


<div class="form-row">
    {{ form.old_password.errors }}
    {{ form.old_password.label_tag }} {{ form.old_password }}
</div>

<div class="form-row">
    {{ form.new_password1.errors }}
    {{ form.new_password1.label_tag }} {{ form.new_password1 }}
   
</div>

<div class="form-row">
{{ form.new_password2.errors }}
    {{ form.new_password2.label_tag }} {{ form.new_password2 }}
    {% if form.new_password2.help_text %}
    <div class="help">{{ form.new_password2.help_text|safe }}</div>
    {% endif %}
</div>


<div class="center">
    <input type="submit" value="Cambiar Contraseña" class="btn borde">
</div>

</div>
</form>
</div>

{% endblock %}